@import './../_variables.scss';

header {
  background: #000;
  background: url(https://jfcere.github.io/agile-tour-sherbrooke/assets/header-background.png);
  background-size: cover;
  background-position-x: 33%;
  position: relative;
  height: 554px;

  @media (max-width: $small-screen) {
    height: 300px;
  }

  @media (min-width: $small-screen) and (max-width: $medium-screen) {
    height: 410px;
  }

  .header-title {
    float: right;
    z-index: 1;

    img {
      margin-top: 200px;
      max-width: 600px;
      width: 100%;

      @media (max-width: $xsmall-screen) {
        margin-top: 80px;
      }

      @media (min-width: $xsmall-screen) and (max-width: $small-screen) {
        margin-top: 65px;
        max-width: 450px;
      }

      @media (min-width: $small-screen) and (max-width: $medium-screen) {
        margin-top: 135px;
        max-width: 500px;
      }
    }

    .btn {
      float: right;
      margin-top: 8px;
      border-radius: 3px;
      font-weight: 600;
      height: 42px;
      line-height: 28px;
      max-width: 286px;
      width: 100%;
      z-index: 2;

      @media (max-width: $xsmall-screen) {
        position: fixed;
        bottom: 0;
        left: 0;
        margin: 0;
        max-width: 480px;
        border-radius: 0;
      }

      @media (min-width: $xsmall-screen) and (max-width: $small-screen) {
        height: initial;
        line-height: initial;
        max-width: 212px;
      }
    }
  }

  .header-footer {
    position: absolute;
    bottom: -5px;
    width: 100%;
    z-index: 0;
  }
}

main {
  .keynote {
    background: #efefef;

    .keynote-header {
      display: block;
      position: relative;
      margin: -80px auto 20px;
      width: 100%;
      max-width: 500px;

      @media (max-width: $small-screen) {
        margin-top: -40px;
        max-width: 280px;
      }

      @media (min-width: $small-screen) and (max-width: $medium-screen) {
        margin-top: -50px;
        max-width: 360px;
      }
    }

    .keynote-picture {
      max-width: 270px;
      width: 100%;

      @media (max-width: $small-screen) {
        max-width: 210px;
      }
    }

    .keynote-title,
    .keynote-subtitle,
    .keynote-text {
      @media (max-width: $medium-screen) {
        text-align: center;
      }
    }

    .keynote-footer {
      margin-top: 40px;
      width: 100%;
    }
  }

  .schedule {
    background: rgb(2, 154, 191);

    table {
      border-collapse: separate;
      border-spacing: 8px;
      margin: 0 -8px;
      width: 100%;

      th,
      td {
        border-radius: 3px;
        height: 50px;
        padding: 4px 8px;
        text-align: center;
        vertical-align: middle;
      }

      th,
      td:first-child {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
      }

      td:first-child {
        padding-left: 0;
        text-align: right;
        width: 135px;
      }

      td:not(:first-child) {
        background: white
      }

      td[colspan]:not(.keynote):not(.closure) {
        background: rgba(0,0,0, 0.14);
        color: white;
      }
    }
  }

  .summary {
    background: #fff;
    margin: 30px 0;

    @media (max-width: $medium-screen) {
      text-align: center;

      ul {
        list-style: none;
        padding: 0;

        li {
          padding: 2px 0;
        }
      }
    }

    h1 {
      margin-left: -4px;

      i {
        font-size: 36px;
        position: relative;
        top: 6px;

        &.icon-margin {
          margin-right: 4px;
        }
      }
    }

    @media (max-width: $small-screen) {
      // container scrollable
      .table-container {
        overflow-x: scroll;
        padding-bottom: 12px;
        margin-left: 82px;

        table {
          margin-left: -15px;
        }

        // first column fixed
        td:first-child,
        th:first-child {
          position: absolute;
          width: 75px;
          left: 15px;
        }
      }
    }


    table {
      border-collapse: separate;
      border-spacing: 8px;
      margin: 24px -4px 0;
      width: 100%;

      th,
      td {
        border-radius: 3px;
        height: 50px;
        padding: 4px 8px;
        text-align: center;
        vertical-align: middle;
      }

      th:first-child {
        background: transparent;
      }

      th,
      td:first-child {
        background: rgba(41, 67, 80, 0.54);
        color: #fff;
        font-weight: bold;
      }

      th {
        hr {
          border-top: 2px solid #fff;
          margin: 8px -8px;
        }
      }

      td:not(:first-child) {
        background: rgba(0,0,0,0.07);
        width: 21%;
      }

      td[colspan]:not(.keynote):not(.closure) {
        background: rgba(41, 67, 80, 0.16);
      }

      td {
        color: #294350;

        .title {
          font-weight: bold;
          font-size: 14.5px;
        }

        .presenter {
          font-size: 13px;
        }

        .company {
          font-size: 11px;
          opacity: 0.69;
        }
      }
    }

    .include {
      margin-top: 2rem;
    }

    .btn {
      border-radius: 3px;
      font-weight: 600;
      height: 42px;
      line-height: 28px;
      margin-bottom: 20px;
      max-width: 360px;
      width: 100%;

      @media (max-width: $xsmall-screen) {
        display: none;
      }
    }
    
    .summary-exclude {
      text-indent: -0.6em;
      padding-left: 0.6em;
    }
  }

  .partners {
    background: #294350;
    color: #fff;
    padding-bottom: 50px;

    .partners-header {
      width: 100%;
      margin-bottom: 20px;
    }

    .partners-title {
      margin-bottom: 30px;
    }

    .partners-pyxis,
    .partners-genetec {
      margin: 20px 0;
      max-width: 450px;
      width: 100%;
    }

    .partners-udes,
    .partners-cgi,
    .partners-sherweb {
      margin: 20px 0;
      max-height: 50px;
      max-width: 300px;
    }

    .partners-acceo {
      margin: 20px 0;
      max-height: 40px;
      max-width: 200px;
    }

    .partners-vds {
      margin: 20px 0;
      max-height: 60px;
      max-width: 200px;
    }
  }

  // to-delete
  .partners-main {
    width: 100%;
  }
}