<header>
  <div class="container">
    <div class="header-title">
      <img src="assets/header-title.png">
      <p>
        <a class="btn btn-success uppercase" href="https://www.eventbrite.ca/e/billets-agile-tour-sherbrooke-2017-32558446189">Inscription</a>
      </p>
    </div>
  </div>
  <img class="header-footer" src="assets/header-footer.png">
</header>

<main>
  <!-- keynote -->
  <div class="keynote">
    <img class="keynote-header" src="assets/keynote-header.png">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3 text-center">
          <img class="keynote-picture" src="assets/uncle-bob.png">
        </div>
        <div class="col-sm-12 col-md-8 col-lg-9">
          <h1 class="keynote-title text-primary">Uncle Bob</h1>
          <h3 class="keynote-subtitle text-accent uppercase">Clean Code</h3>
          <p class="keynote-text">
            <b>Robert C. Martin</b>, aka "Uncle Bob," has been a software professional since 1970 and an international software consultant since 1990. In the last 40 years, he has worked in various capacities on literally hundreds of software projects. In 2001, he initiated the meeting of the group that created Agile Software Development from Extreme Programming techniques and served as the first chairman of the Agile Alliance.  He is also a leading member of the Worldwide Software Craftsmanship Movement - Clean Code.<br>
            <br>
            He has authored "landmark" books on Agile Programming, Extreme Programming, UML, Object-Oriented Programming,  C++ Programming and most recently Clean Code and Clean Coder. He has published dozens of articles in various trade journals.<br>
            He has written, directed and produced numerous "Code Casts" videos for software professionals.<br>
            Bob is a regular speaker at international conferences and trade shows.<br>
            Mr. Martin is the founder, CEO, and president of Uncle Bob Consulting, LLC and Object Mentor Incorporated.<br>
            <br>
            Uncle Bob has published dozens of articles in various trade journals, and is a regular speaker at international conferences and trade shows.​​
          </p>
        </div>
      </div>
    </div>
    <img class="keynote-footer" src="assets/keynote-footer.png">
  </div>

  <!-- summary -->
  <div class="summary">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8">
          <div>
            <h1 class="title text-accent">
              <i class="material-icons icon-margin">today</i>Événement
            </h1>
            <h3 class="text-primary bolder uppercase">Vendredi 19 mai 2017</h3>
            <h5 class="text-secondary bold uppercase">De 9h @ 17h</h5>
            <p>
              Le Agile Tour Sherbrooke est un événement annuel offrant l'opportunité d'assister a plusieurs conférences autour du sujet de la méthodologie Agile dans le domaine des TI. Pour notre première édition, vous aurez également la chance d'assister à la conférence donné en anglais par le réputé conférencier Robert C. Martin, mieux connu sous le pseudonyme de "Uncle Bob".
            </p>
          </div>

          <div>
            <h1 class="title text-accent">
              <i class="material-icons icon-margin">schedule</i>Horaire des conférences
            </h1>
            <h3 class="text-primary bolder uppercase">À Confirmer</h3>
            <p>
              Entre 6 et 8 conférences seront offertes incluant le keynote principal cependant l'horaire demeure à confirmer
            </p>
            <!--<table class="table table-striped">
              <thead>
                <tr>
                  <th>Heure</th>
                  <th>Salle A</th>
                  <th>Salle B</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>9:00</td>
                  <td>Scrum 101</td>
                  <td>Déployer en continue (CI)</td>
                </tr>
                <tr>
                  <td>9:00</td>
                  <td>Scrum 101</td>
                  <td>Déployer en continue (CI)</td>
                </tr>
                <tr>
                  <td>9:00</td>
                  <td>Scrum 101</td>
                  <td>Déployer en continue (CI)</td>
                </tr>
                <tr>
                  <td>9:00</td>
                  <td>Scrum 101</td>
                  <td>Déployer en continue (CI)</td>
                </tr>
                <tr>
                  <td>9:00</td>
                  <td>Scrum 101</td>
                  <td>Déployer en continue (CI)</td>
                </tr>
                <tr>
                  <td>9:00</td>
                  <td>Scrum 101</td>
                  <td>Déployer en continue (CI)</td>
                </tr>
                <tr>
                  <td>9:00</td>
                  <td>Scrum 101</td>
                  <td>Déployer en continue (CI)</td>
                </tr>
              </tbody>
            </table>-->
          </div>

          <div>
            <h1 class="title text-accent">
              <i class="material-icons icon-margin">location_on</i>Emplacement
            </h1>
            <h3 class="text-primary bolder uppercase">Centre de Foires de Sherbrooke</h3>
            <a class="text" href="https://www.google.ca/maps/dir//1600+Boulevard+du+Plateau-Saint-Joseph,+Sherbrooke,+QC+J1L+3C6" target="_blank">
                1600, boulevard du Plateau St-Joseph<br>
                Sherbrooke (Québec) J1L 0C8
            </a>
          </div>
        </div>

        <div class="col-sm-12 col-md-4">
          <h1 class="title text-accent">
            <i class="material-icons">attach_money</i>Admission
          </h1>
          <h3 class="text-primary bolder uppercase">65$ / personne</h3>
          <h4>Inclus<em class="text-secondary">*</em></h4>
          <ul>
            <li>Laissez-passer pour la journée</li>
            <li>Conférence du Keynote (anglais)</li>
            <li>Collation et café</li>
            <li>Stationnement</li>
          </ul>

          <p class="summary-exclude text-secondary italic">
            <em>*</em> Le coût du dîner est exclus. Il vous est permis d'apporter un lunch ou d'utiliser à vos frais le service de traiteur <span>Le Poivron Rouge</span> qui sera sur place pour l'événement.
          </p>

          <p><a class="btn btn-success uppercase" href="https://www.eventbrite.ca/e/billets-agile-tour-sherbrooke-2017-32558446189">Inscription</a></p>
        </div>
      </div>
    </div>
  </div>

  <!-- partners -->
  <div class="partners text-center">
    <img class="partners-header" src="assets/partners-header.png">
    <div class="container">
      <h1 class="partners-title">Partenaires</h1>
      <div class="row">
        <div class="col-sm-12"><img class="partners-pyxis" src="assets/pyxis-white-logo.png"></div>
      </div>
      <!--<div class="row">
        <div class="col-sm-12 col-md-4"><img class="partners-udes" src="assets/udes-white-logo.png"></div>
        <div class="col-sm-12 col-md-4"><img class="partners-cgi" src="assets/cgi-white-logo.png"></div>
        <div class="col-sm-12 col-md-4"><img class="partners-sherweb" src="assets/sherweb-white-logo.png"></div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-3"></div>
        <div class="col-sm-12 col-md-3"><img class="partners-acceo" src="assets/acceo-white-logo.png"></div>
        <div class="col-sm-12 col-md-3"><img class="partners-vds" src="assets/vds-white-logo.png"></div>
        <div class="col-sm-12 col-md-3"></div>
      </div>-->
    </div>
  </div>
</main>

<footer>
</footer>