<header>
  <div class="container">
    <div class="header-title">
      <img src="assets/header-title.png">
      <p>
        <a class="btn btn-success uppercase" href="https://www.eventbrite.ca/e/billets-agile-tour-sherbrooke-2017-32558446189">Inscription</a>
      </p>
    </div>
  </div>
  <img class="header-footer" src="assets/header-footer.png">
</header>

<main>
  <!-- keynote -->
  <div class="keynote">
    <img class="keynote-header" src="assets/keynote-header.png">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-3 text-center">
          <img class="keynote-picture" src="assets/uncle-bob.png">
        </div>
        <div class="col-sm-12 col-md-8 col-lg-9">
          <h1 class="keynote-title text-primary">Uncle Bob</h1>
          <h3 class="keynote-subtitle text-accent uppercase">Clean Code</h3>
          <p class="keynote-text">
            <a href="http://en.wikipedia.org/wiki/Robert_Cecil_Martin" target="_blank" title="Page Wikipedia de Robert C. Martin">Robert C. Martin</a>, aussi connu sous le nom de Uncle Bob, est reconnu comme une sommité internationale du développement logiciel. Il est l'un des signataires initiaux du manifeste Agile et demeure l'une des <a href="http://www.infoq.com/news/2012/04/agile-influential-people" target="_blank">personnalités les plus influente du mouvent Agile</a> et de l'industrie du développement logiciel. Il             est un ardent promoteur des meilleures pratiques de développement logiciel et du professionnalisme.<br>
            <br>
            Il est reconnu pour sa capacité à vulgariser et à promouvoir les principes, les modèles de conception et les techniques de programmation garantes de succès. Ses formations permettent aux participants d’apprendre par la théorie, des études de cas et des exercices pratiques comment mettre en oeuvre les bonnes pratiques de développement logiciel. C'est aussi un mordu des sciences et il adore discuter de sujets aussi variés que la vitesse de la lumière ou les sources d'énergies de l'avenir.<br>
            <br>
            Son livre <a href="http://www.amazon.ca/Software-Development-Principles-Patterns-Practices/dp/0135974445">Agile Software Development, Principles, Patterns, and Practices</a>    demeure un des meilleurs vendeurs parmi les livres en développement logiciel, 10 ans après son lancement. <a href="http://www.pearsonhighered.com/educator/product/Clean-Code-A-Handbook-of-Agile-Software-Craftsmanship/9780132350884.page" target="_blank">Clean Code</a> est reconnu comme un incontournable en développement logiciel et son plus récent ouvrage, <a href="http://www.pearsonhighered.com/educator/product/Clean-Coder-The-A-Code-of-Conduct-for-Professional-Programmers/9780137081073.page">Clean Coder : A Code of Conduct for Professional Programmers</a>, a quant à lui reçu de nombreuses critiques élogieuses depuis sa parution.<br>
            <br>
            Son désir de partager ses connaissances et de promouvoir les meilleures façons de faire l'a ammené à lancer son propre site d'apprentissage en ligne, <a href="http://cleancoders.com/" target="_blank">Clean Coders</a>. Il a publié une vingtaine d'épisodes sur des sujets tels que les patrons de conception, les principes solides et le développement piloté par les tests.
          </p>
        </div>
      </div>
    </div>
    <img class="keynote-footer" src="assets/keynote-footer.png">
  </div>

  <!-- schedule -->
  <!--<div class="schedule">
    <div class="container">
    </div>
  </div>-->

  <!-- summary -->
  <div class="summary">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-8">
          <div>
            <h1 class="title text-accent">
              <i class="material-icons icon-margin">today</i>Événement
            </h1>
            <h3 class="text-primary bolder uppercase">Vendredi 19 mai 2017</h3>
            <h5 class="text-secondary bold uppercase">De 9h @ 16h</h5>
            <p>
              Le Agile Tour Sherbrooke est un événement annuel offrant l'opportunité d'assister a plusieurs conférences autour du sujet de la méthodologie Agile dans le domaine des TI. Pour notre première édition, vous aurez également la chance d'assister à la conférence donné en anglais par le réputé conférencier Robert C. Martin, mieux connu sous le pseudonyme de "Uncle Bob".
            </p>
          </div>

          <div>
            <h1 class="title text-accent">
              <i class="material-icons icon-margin">schedule</i>Horaire des conférences
            </h1>
            <p>
              Le programme de la journée vous offre l'opportunité de participer à:
            </p>
            <ul>
              <li>1 présentation principale de 90 minutes (Robert Martin)</li>
              <li>3 conférences de 60 à 75 minutes, parmi un choix de 12 conférences et ateliers au programme</li>
            </ul>
            <p>
              Que vous découvriez l'agilité ou que vous soyez expérimenté, vous aurez l'occasion d’y parfaire vos connaissances.
            </p>

            <p class="comeback-later bold">
              * Cliquez sur une conférence dans le tableau pour obtenir plus d'informations
            </p>

            <div #tableContainer>
              <table>
                <thead>
                  <tr>
                    <th></th>
                    <th>Retours d'expérience techniques<hr>Salle Principale</th>
                    <th>Retours d'expérience agiles<hr>Salle 2</th>
                    <th>Conférences techniques<hr>Cafétéria</th>
                    <th>Conférences agiles<hr>Salon VIP</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ conferenceKeynote.time }}</td>
                    <td class="keynote clickable" colspan="4" (click)="openModal(conferenceKeynote)">
                      <div class="title">Agility and Architecture</div>
                      <div class="presenter">Uncle Bob Martin</div>
                      <div class="company">Keynote</div>
                    </td>
                  </tr>
                  <tr>
                    <td>10h30 à 10h45</td>
                    <td colspan="4">Pause</td>
                  </tr>
                  <tr>
                    <td>{{ conferenceAm1[0].time }}</td>
                    <td class="clickable" *ngFor="let conference of conferenceAm1" (click)="openModal(conference)">
                      <div class="title">{{ conference.title }}</div>
                      <div class="presenter">{{ concatPresenters(conference.presenters) }}</div>
                      <div class="company">{{ conference.company }}</div>
                    </td>
                  </tr>
                  <tr>
                    <td>12h00 à 13h00</td>
                    <td colspan="4">Dîner</td>
                  </tr>
                  <tr>
                    <td>{{ conferencePm1[0].time }}</td>
                    <td class="clickable" *ngFor="let conference of conferencePm1" (click)="openModal(conference)">
                      <div class="title">{{ conference.title }}</div>
                      <div class="presenter">{{ concatPresenters(conference.presenters) }}</div>
                      <div class="company">{{ conference.company }}</div>
                    </td>
                  </tr>
                  <tr>
                    <td>14h15 à 14h30</td>
                    <td colspan="4">Pause</td>
                  </tr>
                  <tr>
                    <td>{{ conferencePm2[0].time }}</td>
                    <td class="clickable" *ngFor="let conference of conferencePm2" (click)="openModal(conference)">
                      <div class="title">{{ conference.title }}</div>
                      <div class="presenter">{{ concatPresenters(conference.presenters) }}</div>
                      <div class="company">{{ conference.company }}</div>
                    </td>
                  </tr>
                  <tr>
                    <td>15h45 à 16h00</td>
                    <td class="closure" colspan="4">Mot de la fin</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="visible-xs">
              <em>Vous pouvez consulter le tableau en vous déplaçant de gauche à droite avec le mode touch de votre appareil mobile</em>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-4">
          <h1 class="title text-accent">
            <i class="material-icons icon-margin">location_on</i>Emplacement
          </h1>
          <h3 class="text-primary bolder uppercase">Centre de Foires de Sherbrooke</h3>
          <a class="text" href="https://www.google.ca/maps/dir//1600+Boulevard+du+Plateau-Saint-Joseph,+Sherbrooke,+QC+J1L+3C6" target="_blank">
              1600, boulevard du Plateau St-Joseph<br>
              Sherbrooke (Québec) J1L 0C8
          </a>
        </div>

        <div class="col-sm-12 col-md-4">
          <h1 class="title text-accent">
            <i class="material-icons">attach_money</i>Admission
          </h1>
          <h3 class="text-primary bolder uppercase">80$ / personne</h3>
          
          <h5 class="include"><b>Inclus</b><em class="text-secondary">*</em></h5>
          <ul>
            <li>Laissez-passer pour la journée</li>
            <li>Conférence du Keynote (anglais)</li>
            <li>Collation et café</li>
            <li>Stationnement</li>
          </ul>

          <p class="summary-exclude text-secondary italic">
            <em>*</em> Le coût du dîner est exclus. Il vous est permis d'apporter un lunch ou d'utiliser à vos frais le service de traiteur <span>Le Poivron Rouge</span> qui sera sur place pour l'événement.
          </p>

          <p><a class="btn btn-success uppercase" href="https://www.eventbrite.ca/e/billets-agile-tour-sherbrooke-2017-32558446189">Inscription</a></p>
        </div>
      </div>
    </div>
  </div>

  <!-- partners -->
  <div class="partners text-center">
    <img class="partners-header" src="assets/partners-header.png">
    <div class="container">
      <h1 class="partners-title">Partenaires</h1>
      <hr class="partner-divider">
      <div class="row">
        <div class="col-sm-12">
          <a href="http://pyxis-tech.com/fr/" target="_blank">
            <img class="partners-pyxis" src="assets/pyxis-white-logo.png">
          </a>
        </div>
        <div class="col-sm-12">
          <a href="https://www.genetec.com/fr" target="_blank">
            <img class="partners-genetec" src="assets/genetec-white-logo.png">
          </a>
        </div>
        <div class="col-sm-12">
          <a href="http://sherbrooke-innopole.com/fr" target="_blank">
            <img class="partners-innopole" src="assets/sherbrooke-innopole-white-logo.png">
          </a>
        </div>
      </div>
      <hr class="partner-divider">
      <div class="row">
        <div class="col-sm-12 col-md-6"><img class="partners-acceo" src="assets/acceo-white-logo.png"></div>
        <div class="col-sm-12 col-md-6"><img class="partners-facilite" src="assets/facilite-white-logo.png"></div>
        <div class="col-sm-12"><img class="partners-wolters-kluwer" src="assets/wolters-kluwer-white-logo.png"></div>
      </div>
    </div>
  </div>
</main>

<footer>
</footer>