@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css);
@import './_variables.scss';

body {
  @media (min-width: $large-screen) {
    font-size: 14.5px;
  }
}

.text-primary {
  color: rgb(44, 66, 81);
}

.text-secondary {
  color: rgba(0,0,0,0.54);
}

.text-accent {
  color: rgb(2, 154, 191);
}

.bold {
  font-weight: 600;
}

.bolder {
  font-weight: 900;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

/* Material Design icons customization */

h1 {
  i {
    position: relative;
    top: 4px;
  }
}
